/* popup/popup.css */
.container {
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.created-by {
    font-size: 12px;
}

#tabsList {
    margin-top: 10px;
}

.tabItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tabIcon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.tabTitle {
    flex-grow: 1;
    margin-right: 5px;
}

.tabSlider {
    width: 100px;
    margin-right: 5px;
}

.tabVolumeLabel {
    width: 50px;
}
